# ************************************** Python/Django **************************************
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
db.sqlite3-journal
project.db.sqlite3
project.db.sqlite3-journal
static/
media/
/public/static/
/public/media/

# Django Migrations #
# **/migrations/**
# !**/migrations
# !**/migrations/__init__.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

# C extensions
*.so

# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class
__pypackages__/

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
MANIFEST

# Translations
*.mo
*.pot

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
/facerecognition.sqlite
/facerecognition.sqlite

# ************************************** JavaScript/React JS **************************************

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
.next.zip
out/

# production
build

# private markdown
meta.md

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel


# rss
# frontend/public/rss
# frontend/public/feed.xml
# frontend/public/sitemap.xml


# # pwa
# frontend/public/sw.js
# frontend/public/workbox-*.js
# frontend/public/worker-*.js
# frontend/public/sw.js.map
# frontend/public/workbox-*.js.map
# frontend/public/worker-*.js.map


store

tsconfig.tsbuildinfo

# ************************************** Editor **************************************

*.iml
*.swp
*.swo

# PyCharm #
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files Package
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code #
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Others #
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ************************************** Others **************************************

# Data
/data
/.adhoc
