{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'fonts/index.css' %}" rel="stylesheet">
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <title>NIM23 BACKEND</title>
  </head>
  <body>

    <div class="container">
      <div id="banner" class="banner">
        <div class="content">
            <h1>
            <span>NIM23</span>
          </h1>
          <p>Created By Numan Ibn Mazid</p>
        </div>

        <div>
          <button class="custom-btn" onclick="window.open('{{ frontend_base_url }}', '_blank')">
            SITE
          </button>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/admin/', '_blank')">
            ADMIN SITE
          </button>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/swagger/', '_blank')">
            SWAGGER
          </button>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/redoc/', '_blank')">
            REDOC
          </button>
        </div>

        <div>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/admin/filebrowser/browse/', '_blank')">
          BROWSE FILES
          </button>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/admin/filebrowser/upload/', '_blank')">
            UPLOAD FILE
          </button>
          <button class="custom-btn" onclick="window.open('{{ backend_base_url }}/admin/filebrowser/createdir/', '_blank')">
            CREATE DIRECTORY
          </button>

          <div class="m-3 auth">
            <div class="m-3">
              <!-- check if user logged in -->
              {% if user.is_authenticated %}
                <h2 class="m-0">Logged in as {{ user.username }} ({{ user.email }})</h2>
              {% else %}
                <h2 class="m-0">Not logged in</h2>
              {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div>
              <form id="logoutForm" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a href="#" onclick="showConfirmationModal()" class="a-btn logout-btn">Logout</a>
              </form>
            </div>
            <!-- Modal -->
            <div id="confirmationModal" style="display: none;">
              <h2 class="m-3">Are you sure you want to logout?</h2>
              <a href="#" onclick="logout()" class="a-btn btn-success">Yes</a>
              <a onclick="hideConfirmationModal()" class="a-btn btn-danger">No</a>
            </div>
            {% endif %}

          </div>

        </div>
      </div>
    </div>

    <script>
      function showConfirmationModal() {
        document.getElementById('confirmationModal').style.display = 'block';
      }

      function hideConfirmationModal() {
        document.getElementById('confirmationModal').style.display = 'none';
      }

      function logout() {
        document.getElementById('logoutForm').submit();
      }
    </script>

    <script>
      function centerBannerVertically() {
        var container = document.querySelector('.container');
        var banner = document.getElementById('banner');
        var content = banner.querySelector('.content');
        var containerHeight = window.innerHeight;
        var contentHeight = content.offsetHeight;
        var marginTop;

        if (window.innerWidth >= 1024) {
          marginTop = (containerHeight - contentHeight) / 4;
        } else {
          marginTop = (containerHeight - contentHeight) / 2;
        }

        banner.style.marginTop = marginTop + 'px';
      }

      // Call the function on page load
      window.addEventListener('load', centerBannerVertically);

      // Call the function on window resize
      window.addEventListener('resize', centerBannerVertically);
    </script>

  </body>
</html>
